#b1{
	background: rgb(194,104,40);
background: linear-gradient(0deg, rgba(194,104,40,1) 0%, rgba(40,184,155,1) 100%);
}
button{
	 margin-top: 40px;
	 margin-left: 140px;
	 border-radius: 6px;
	 /*background-color: #91e9d8;*/
	 border: 1px solid #55c7b1;
	 height: 38px;
	 width: 100px;

} 
#t1{
	color: white;
}