@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

#btRemov{
    color: red;
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bagui{
    width: 50px;
}

nav {
    background-color: teal;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


nav h3 {
    color: white;
}


.wrkspc {
    background-color: white;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.wrkspc-tit {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.wrkspc-tit h3 {
    font-size: 24px;
    color: teal;
}

.sec-button-add {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sec-button-add button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sec-button-add button:hover {
    background-color: darkcyan;
}

.espç-sec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sec {
    background-color: rgb(98, 180, 183);
    width: 250px;
    padding: 20px;
    border: 2px solid teal;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sec .sec-tit {
    margin-bottom: 15px;
}

.sec .sec-tit h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: teal;
}

.sec .sec-tit input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid teal;
    border-radius: 5px;
}

.sec button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sec button:hover {
    background-color: darkcyan;
}

.sec button:nth-child(1) {
    background-color: lightcoral;
}

.sec button:nth-child(1):hover {
    background-color: crimson;
}

ul li{
    list-style: none;
}

input[type="checkbox"] {
    margin: 0; /* Remove margens padrão */
    vertical-align: middle; /* Alinha verticalmente ao meio */
    /* Você pode adicionar um tamanho fixo, se necessário */
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
}

